/*~~ GENERAL ~~*/
html {
  overflow-y: scroll;
}
body {
  font-family: "Segoe UI", "Open Sans", sans-serif;
  text-align: center;
  margin: 0px;
  background: #f3f3f3;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

/*~~ IMPORT FONTS ~~*/
@font-face {
  font-family: "calistogaregular";
  src: url("./utils/webfontkit/calistoga-regular-webfont.woff2") format("woff2"),
    url("./utils/webfontkit/calistoga-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sofia_probold";
  src: url("./utils/webfontkit/sofia_pro_bold_az-webfont.woff2") format("woff2"),
    url("./utils/webfontkit/sofia_pro_bold_az-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sofia_proregular";
  src: url("./utils/webfontkit/sofia_pro_regular_az-webfont.woff2")
      format("woff2"),
    url("./utils/webfontkit/sofia_pro_regular_az-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*~~ SITE HEADLINE ~~*/
header {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(
    190deg,
    #c2c2c2 37.58%,
    #d3b8b2 64.91%,
    #e9a177c4 104.6%
  );
}

header h1 {
  font-size: 1.7em;
  font-weight: normal;
  font-family: "sofia_probold";
  letter-spacing: 3px;
  margin-block-start: 0.7em;
  margin-block-end: 0.2em;
  color: #646464;
}
header h2 {
  font-family: "sofia_proregular";
  font-size: 2em;
  line-height: 0.7em;
  letter-spacing: -1px;
  text-align: center;
  justify-self: flex-start;
  margin-block-start: 0em;
  color: #ffffff;
  opacity: 0.8;
}

/*~~ NAVBAR ~~*/
.navbar {
  display: flex;
  flex-direction: row;
  height: fit-content;
  min-height: 32px;
  width: 99%;
  position: fixed;
  bottom: 5px;
  left: 0.5%;
  align-items: center;
  font-size: 1.1em;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: "sofia_probold";
  z-index: 2;
}

.navbar-button {
  display: flex;
  align-items: center;
  color: #646464;
  text-decoration: none;
  height: 100%;
  padding: 5px 0px 3px 0px;

  transition: 0.3s;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .navbar {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(243, 243, 243, 0.5);
  }
}

#projects-button {
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
  flex: 2;
}

#about-button {
  display: flex;
  justify-content: center;
  flex: 1;
}

#contact-button {
  display: flex;
  padding-left: 5%;
  justify-content: flex-start;
  flex: 2;
}

@media (max-width: 550px) {
  #projects-button {
    flex: 1;
  }
  #about-button {
    flex: 1;
  }
  #contact-button {
    flex: 1;
  }
}

.navbar a:link {
  text-decoration: none;
}

.navbar a:visited {
  text-decoration: none;
}

.navbar a:hover {
  color: #f3f3f3;
  background-color: #494949;
}

.navbar a:active {
  text-decoration: none;
}

.highlighted {
  color: #f3f3f3;
  background-color: #494949;
}

/*~~ PROJECTS SECTION ~~*/
.project-section {
  text-align: left;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 85vh minmax(0px, 1fr);
  grid-template-areas:
    "headline hero"
    "details details";
}

.project-headline {
  position: relative;
  z-index: 1;
  grid-area: headline;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: fit-content;
  padding: 10ch 10px 0px 30px;
  font-family: "sofia_proregular";
}
.project-headline h1 {
  display: flex;
  padding: 10px;
  font-size: 5em;
  line-height: 0.85em;
  letter-spacing: -2px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.project-headline h2 {
  display: flex;
  min-width: 200px;
  font-size: 2em;
  letter-spacing: -1px;
  padding: 10px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}
.project-tag-light {
  width: 100%;
  margin-left: -35px;
  padding: 3px 60px 5px 55px;
  font-family: "sofia_proregular";
  text-align: left;
  color: white;
}
.project-tag-dark {
  width: 100%;
  margin-left: -35px;
  padding: 3px 60px 5px 55px;
  font-family: "sofia_proregular";
  text-align: left;
  color: #363636;
}

.project-hero {
  margin-right: -20px;
  padding-top: 10px;
  grid-area: hero;
  display: flex;
  justify-content: flex-end;
}
.hero-img {
  width: 140%;
  height: auto;
}

.project-details {
  grid-area: details;
  width: 100%;
  max-height: 4000px;
  margin: 0;
  font-size: 1.2em;
  font-family: "sofia_proregular";
  color: white;
  background-color: #64646479;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.project-details > * {
  opacity: 1;
  transition: 1.3s;
}

.hidden-details {
  max-height: 83px;
  padding: 0;
  opacity: 0.7;
}
.hidden-details > * {
  opacity: 0;
}

.expand-arrows {
  padding: 0 20px;
  margin-bottom: -2px;
}

.expand-button {
  position: relative;
  padding: 30px 0;
  width: 100%;
  text-align: center;
  transition: 0.2s;
  z-index: 1;
}
.project-details .expand-button {
  opacity: 0;
}
.hidden-details .expand-button {
  opacity: 0.6;
}
.hidden-details .expand-button:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(219, 219, 219, 0.4);
}

.collapse-button {
  margin: 0;
  padding: 30px 0;
  width: 100%;
  text-align: center;
  opacity: 0.6;
  transition: 0.2s;
}
.collapse-button:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(219, 219, 219, 0.4);
}

.project-tech-top {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
}

.project-text {
  text-align: left;
  display: flex;
  flex-direction: row;
  padding: 0 40px;
}
.project-text p {
  flex: 1;
  padding: 0 10px;
}

.project-tech-desc {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.project-pictures {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-gap: 5px;
  padding: 20px;
  margin: 20px;
  background: #ffffff2d;
}

.picture-container {
  height: 300px;
  width: 100%;
}
.horizontal-picture {
  grid-column: span 2;
}
.project-pictures img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.visit-site {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "sofia_probold";
  color: #e0e0e0;
}
.visit-site a {
  padding: 1em;
  color: #e0e0e0;
}
.visit-site a:visited {
  color: #e0e0e0;
}
.visit-site a:hover {
  color: white;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  margin-top: 40px;
  background-color: #e0e0e0;
  border-radius: 50px;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .project-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80vh 1fr;
    height: fit-content;
  }
  .project-headline h1 {
    font-size: 4em;
  }
  .project-hero {
    display: flex;
    justify-content: flex-end;
  }
  .hero-img {
    width: 150%;
    height: auto;
  }

  .project-tech-desc {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 550px) {
  .project-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "headline"
      "hero"
      "details";
    height: fit-content;
  }

  .project-headline {
    height: fit-content;
    padding: 1ch 30px 0px 10px;
  }
  .project-headline h1 {
    margin-block-start: 0em;
  }
  .hero-img {
    height: 450px;
    width: 130%;
    margin-top: -100px;
    margin-bottom: 0px;
  }
  .picture-container {
    height: fit-content;
  }
  .horizontal-picture {
    grid-column: span 1;
  }
  .visit-site {
    font-size: 1.3em;
  }
  .project-text {
    flex-direction: column;
  }
  .project-text p {
    flex: 1;
  }
}

/*~~ PROJECT: PORT ~~*/
.port-section {
  color: white;
  background: linear-gradient(
    223.92deg,
    #373737 29.52%,
    #656363 69.96%,
    #957868 93.88%
  );
}

/*~~ PROJECT: TANA WEB ~~*/
.tana-section {
  color: white;
  background: linear-gradient(
    50.69deg,
    rgba(50, 46, 92, 0.8) 1.97%,
    rgba(98, 78, 140, 0.8) 40.29%,
    rgba(211, 172, 224, 0.8) 101.38%
  );
}

/*~~ PROJECT: BARBERSHOP ~~*/
.barbershop-section {
  color: white;
  background: linear-gradient(
    234.67deg,
    rgba(141, 218, 176, 0.8) -3.64%,
    rgba(113, 180, 144, 0.8) 39.19%,
    rgba(34, 77, 54, 0.8) 94.27%
  );
}

/*~~ ABOUT SECTION ~~*/
#about {
  width: 100%;
  text-align: left;
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: auto;
  grid-template-areas:
    "banner banner banner banner banner"
    ". . text text ."
    ". stack stack stack ."
    ". cvlink cvlink cvlink .";
}

.about-banner {
  grid-area: banner;
  width: 100%;
  height: fit-content;
  min-height: 60vh;
  padding-top: 20px;
  background: linear-gradient(
    223.92deg,
    #c2c2c2 37.58%,
    #d3b8b2 64.91%,
    #e9a077 104.6%
  );
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  grid-template-areas: "portrait headline headline .";
}
.portrait-container {
  grid-area: portrait;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
#portrait {
  max-height: 90%;
  max-width: 200%;
  object-fit: contain;
  opacity: 0.6;
}

.about-label {
  grid-area: headline;
  height: 90%;
  font-family: "sofia_probold";
  font-size: 2em;
  text-align: right;
  color: white;
  opacity: 0.7;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.about-headline {
  grid-area: headline;
  height: 70%;
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1.4em;
  color: #646464;
  font-family: "sofia_probold";
  text-align: right;
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
}

@media (min-width: 550px) {
  #about {
    display: grid;
    grid-template-columns: 10% 30% 25% 25% 10%;
    grid-template-rows: auto;
    grid-template-areas:
      "banner banner banner banner banner"
      ". . text text ."
      ". stack stack stack ."
      ". . cvlink cvlink cvlink";
  }

  .about-banner {
    display: grid;
    grid-template-columns: 10% 30% 25% 25% 10%;
    grid-template-rows: auto;
    grid-template-areas: ". portrait headline headline .";
  }
  #portrait {
    height: 60%;
  }
  .about-label {
    height: 80%;
    justify-content: flex-start;
  }
  .about-headline {
    height: 60%;
    text-align: left;
    font-size: 1.7em;
  }
}

@media (min-width: 768px) {
  #about {
    grid-template-columns: 10% 30% 25% 25% 10%;
    grid-template-rows: auto;
    grid-template-areas:
      "banner banner banner banner banner"
      ". . text text ."
      ". . stack stack ."
      ". . cvlink cvlink .";
  }

  .about-banner {
    grid-area: banner;
    display: grid;
    grid-template-columns: 10% 30% 25% 25% 10%;
    grid-template-rows: auto;
    grid-template-areas: ". portrait headline headline .";
  }
  .about-label {
    height: 73%;
    font-size: 3em;
    text-align: left;
    display: flex;
    align-self: flex-end;
    justify-content: flex-start;
  }
  .about-headline {
    height: 53%;
    text-align: left;
    font-size: 2em;
    display: flex;
    align-self: flex-end;
    justify-content: flex-start;
  }
  #portrait {
    max-height: 70%;
    width: 120%;
  }
}

.about-text {
  grid-area: text;
  font-size: 1.15em;
  font-family: "sofia_proregular";
  columns: 2;
  margin: 20px 0px;
}

@media (max-width: 900px) {
  .about-text {
    columns: 1;
  }
}

.about-text p {
  padding-right: 20px;
}

.stack {
  grid-area: stack;
}

#programming-img {
  position: relative;
  width: 100%;
  min-height: 300px;
  max-height: 450px;
  object-fit: cover;
  border-radius: 5px;
  opacity: 0.8;
  z-index: 0;
}

.tech-stack {
  position: relative;
  height: 90px;
  margin-top: -94px;
  font-size: 40px;
  color: #f3f3f3;
  background-color: #0000005d;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}
.icon {
  width: 40px;
  fill: #f3f3f3;
}

.adobe-icon {
  width: 45px;
  fill: #f3f3f3;
  margin-top: -3px;
}

.cv-link {
  grid-area: cvlink;
  width: 100%;
  background-color: #383838;
  border-radius: 50px;
  font-size: 1.2em;
  font-family: "sofia_proregular";
  text-align: center;
  color: #f3f3f3;
  text-decoration: none;
  opacity: 0.9;
  margin-top: 30px;
  margin-bottom: 150px;
  padding: 7px 0px 9px 0px;
}
.cv-link:hover {
  opacity: 1;
}

/*~~ CONTACT SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#contact {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0px;
  font-family: "sofia_proregular";
  color: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-window {
  width: 30%;
  min-height: fit-content;
  text-align: left;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .contact-window {
    width: 60%;
  }
}
@media (max-width: 550px) {
  .contact-window {
    width: 80%;
  }
}

.contact-window h3 {
  margin-block-end: 0.2em;
}

.contact-window h2 {
  margin-block-start: 0em;
  font-size: 3em;
  color: #d3b8b2;
}

.horizontal-line-2 {
  height: 1px;
  width: 100%;
  margin-bottom: 15px;
  background-color: #383838;
  border-radius: 50px;
  opacity: 0.5;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.contact-form label {
  display: flex;
  padding: 5px;
}

.contact-form input {
  height: 2em;
  color: rgba(83, 67, 67);
  border: none;
  border-radius: 3px;
}

.contact-form textarea {
  color: rgba(83, 67, 67);
  border: none;
  border-radius: 3px;
}

.contact-form button {
  padding: 5px;
  margin: 20px 0;
  border: none;
  border-radius: 3px;
  font-family: "sofia_proregular";
  font-size: 1.2em;
  background-color: #d3b8b2;
  transition: 0.2s;
}

.contact-form button:hover {
  cursor: pointer;
  background-color: #d1a5a5;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2em;
  margin: auto;
  padding: 20px 0px;
}

.contact-links a {
  color: #d3b8b2;
}
.contact-links a:visited {
  color: #d3b8b2;
}
.contact-links a:hover {
  color: #d1a5a5;
}
